*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherit box sizing property from body and all elements will have it */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: "arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.header {
  display: inline;
  line-height: 2.4rem;
  position: absolute;
  top: 2rem;
  right: 7rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 1.3rem;
    cursor: pointer;
    transition: all .1s; }
  .header__link:hover, .header__link:active {
    text-decoration: underline;
    color: rgba(51, 51, 51, 0.87); }
  .header__advanced {
    margin-top: -2.7rem;
    display: block;
    padding: 2rem;
    margin-left: -29px;
    width: 98.7vw;
    background-color: #f1f1f1; }
    @media only screen and (max-width: 56.25em) {
      .header__advanced {
        margin: 0; } }

.form {
  position: relative; }
  .form__input {
    position: relative;
    display: inline-block;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 2.4rem;
    z-index: 3;
    height: 4.4rem;
    margin: 0 auto;
    width: 58.2rem;
    outline: none; }
    .form__input:hover {
      box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1); }
    .form__input--1 {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.87);
      word-wrap: break-word;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      margin-top: -37px;
      height: 34px;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.87);
      line-height: 34px;
      position: absolute;
      bottom: 0.3rem;
      left: 4rem;
      width: 49rem; }
    .form__input--2 {
      width: 43.8rem; }
    .form__input-icon {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      margin-top: .3rem;
      color: #9aa0a6;
      fill: currentColor;
      position: absolute;
      top: 1rem;
      left: 1.2rem; }
      .form__input-icon--1 {
        color: #4285f4;
        left: 55rem;
        top: 1rem;
        position: absolute;
        cursor: pointer; }
      .form__input-icon--search {
        position: absolute;
        left: 54rem;
        cursor: pointer; }
        .form__input-icon--search-1 {
          left: 52rem; }
  .form__button {
    height: 7.2rem;
    display: block;
    margin: 3rem auto;
    text-align: center; }
    .form__button--1 {
      background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
      border-radius: 4px;
      color: #5F6368;
      font-size: 1.4rem;
      margin: 1.1rem .4rem;
      padding: 0 1.6rem;
      line-height: 2.7rem;
      height: 3.6rem;
      min-width: 5.4rem;
      text-align: center;
      cursor: pointer;
      user-select: none;
      outline: none; }
      .form__button--1:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
        background-color: #f8f8f8;
        border: 1px solid #c6c6c6;
        color: #222; }
    .form__button--advanced {
      position: absolute;
      margin-top: 2.4rem;
      left: calc(56% - 11rem);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      cursor: default;
      font-size: 11px;
      font-weight: bold;
      white-space: nowrap;
      margin-right: 16px;
      height: 27px;
      line-height: 27px;
      min-width: 54px;
      outline: 0;
      padding: 0 8px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-color: #4d90fe;
      background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
      background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
      background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
      background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
      background-image: linear-gradient(top, #4d90fe, #4787ed);
      border: 1px solid #3079ed;
      color: #fff; }
      @media only screen and (max-width: 56.25em) {
        .form__button--advanced {
          margin-top: 10rem;
          left: calc(56% - 6rem); } }
      @media only screen and (max-width: 37.5em) {
        .form__button--advanced {
          margin-top: 17rem;
          left: calc(56% - 2rem); } }
      .form__button--advanced:hover {
        background-color: #357ae8;
        background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
        background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
        background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
        background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
        background-image: linear-gradient(top, #4d90fe, #357ae8);
        border: 1px solid #2f5bb7;
        border-image: initial; }

.camera {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  position: absolute;
  top: 1rem;
  left: 48rem; }
  .camera__icon {
    height: 24px;
    width: 24px;
    background: url(//www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png) 0 0 no-repeat;
    background-size: 24px; }

.main {
  height: 90vh;
  width: 100%; }
  .main--advanced {
    height: 80vh; }
  .main .section-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 44%; }
  .main .section-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%; }
  .main .image__logo {
    height: 9.2rem;
    width: 27.2rem;
    display: block;
    margin: 3rem auto;
    position: relative; }
    .main .image__logo--subtext {
      font-size: 1.6rem;
      color: #4285f4;
      position: absolute;
      right: 16rem;
      top: 10rem;
      white-space: nowrap; }

.heading {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px 40px 35px;
  border-bottom: 1px solid #d9d9d9; }
  .heading__text {
    margin-bottom: 1.7rem; }

.heading__sub {
  font-size: 1.6rem;
  display: table;
  width: 100%;
  height: 3rem;
  margin-bottom: 1.7rem; }
  .heading__sub--1 {
    width: 50%;
    display: table-cell;
    margin-left: 2rem;
    color: #333; }
  .heading__sub--2 {
    width: 40%;
    display: table-cell; }
    @media only screen and (max-width: 56.25em) {
      .heading__sub--2 {
        visibility: hidden; } }

.form-advanced {
  font-size: 1.3rem;
  margin: 2.5rem 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .form-advanced {
      transform: scale(0.8);
      display: block;
      word-wrap: normal; } }
  .form-advanced__label {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    color: #333;
    vertical-align: middle; }
  .form-advanced__input {
    float: left;
    padding-left: .45rem;
    outline: none;
    border: 1px solid #ccc;
    display: inline-block;
    width: 14rem;
    min-height: 2.7rem;
    vertical-align: middle;
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .form-advanced__input {
        width: 30%;
        display: block; } }
    .form-advanced__input:focus {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }
    .form-advanced__input--1 {
      width: 19.5%;
      margin-right: 1.6rem; }
      @media only screen and (max-width: 56.25em) {
        .form-advanced__input--1 {
          width: 14.5%;
          margin-right: 1.3rem; } }
    .form-advanced__input--2 {
      width: 19.3%; }
      @media only screen and (max-width: 56.25em) {
        .form-advanced__input--2 {
          width: 14.3%; } }
  .form-advanced__span {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .form-advanced__span {
        visibility: hidden; } }
