.form {
    position: relative;
    &__input {
        position: relative;
        display: inline-block;
        background: $color-white;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 2.4rem;
        z-index: 3;
        height: 4.4rem;
        margin: 0 auto;
        width: 58.2rem;
        outline: none;

        &:hover {
            box-shadow: 0 .3rem .2rem rgba($color-black, .1);
        }

        &--1 {
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,.87);
            word-wrap: break-word;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            margin-top: -37px;
            height: 34px;
            font-size: $default-font-size;
            color: rgba(0,0,0,.87);
            line-height: 34px;
            position: absolute;
            bottom: 0.3rem;
            left: 4rem;
            width: 49rem;
        }

        &--2 {
            width: 43.8rem;
        }

        &-icon {
            display: inline-block;
            height: 2rem;
            width: 2rem;
            margin-top: .3rem;
            color: #9aa0a6;
            fill: currentColor;
            position: absolute;
            top: 1rem;
            left: 1.2rem;

            &--1 {
                color: #4285f4;
                left: 55rem;
                top: 1rem;
                position: absolute;
                cursor: pointer;
            }

            &--search {
                position: absolute;
                left: 54rem;
                cursor: pointer;
                // border-left: 1px solid lighten($color: #9aa0a6, $amount: 12%);

                &-1 {
                    left: 52rem;
                }
            }
        }
    }

    &__button {
        height: 7.2rem;
        display: block;
        margin: 3rem auto;
        text-align: center;

        &--1 {
            background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            border-radius: 4px;
            color: #5F6368;
            font-size: 1.4rem;
            margin: 1.1rem .4rem;
            padding: 0 1.6rem;
            line-height: 2.7rem;
            height: 3.6rem;
            min-width: 5.4rem;
            text-align: center;
            cursor: pointer;
            user-select: none;
            outline: none;

            &:hover {
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
                background-color: #f8f8f8;
                border: 1px solid #c6c6c6;
                color: #222;
            }
        }

        &--advanced {
            position: absolute;
            margin-top: 2.4rem;
            left: calc(56% - 11rem);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            cursor: default;
            font-size: 11px;
            font-weight: bold;
            white-space: nowrap;
            margin-right: 16px;
            height: 27px;
            line-height: 27px;
            min-width: 54px;
            outline: 0;
            padding: 0 8px;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            background-color: #4d90fe;
            background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
            background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
            background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
            background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
            background-image: linear-gradient(top,#4d90fe,#4787ed);
            border: 1px solid #3079ed;
            color: #fff;

            @include respond(tab-port) {
                margin-top: 10rem;
                left: calc(56% - 6rem);
            }

            @include respond(phone) {
                margin-top: 17rem;
                left: calc(56% - 2rem);
            }

            &:hover {
                background-color: #357ae8;
                background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
                background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
                background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
                background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
                background-image: linear-gradient(top,#4d90fe,#357ae8);
                border: 1px solid #2f5bb7;
                border-image: initial;
            }
        }
    }
}

.camera {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top: 1rem;
    left: 48rem;

    &__icon {
        height: 24px;
        width: 24px;
        background: url(//www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png) 0 0 no-repeat;
        background-size: 24px;
    }
}